.invert {
    color: $light;
}

.purple {
    color: $purple;
}

.green {
    color: $green;
}

.orange {
    color: $orange;
}

.bg-white {
    background-color: $white;
}

.bg-grey {
    background-color: #F2F7FB;
}

.bg-dark {
    background-color: $dark;
}

.bg-gradient-light {
    background: linear-gradient(180deg, #E8F1F7 0%, #FFFFFF 120%);
}