.decor-1 {
    position: relative;
    &:after {
        top: -43%;
        right: -17%;
        content: "";
        display: block;
        width: rem(416);
        height: rem(460);
        position: absolute;
        pointer-events: none;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../assets/images/decor-1.svg");
    }
}

.decor-2 {
    position: relative;
    &:after {
        right: 65%;
        content: "";
        bottom: -15%;
        display: block;
        width: rem(491);
        height: rem(190);
        position: absolute;
        pointer-events: none;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../assets/images/decor-2.svg");
    }
}

.decor-3 {
    position: relative;
    &:after {
        top: -60%;
        right: -38%;
        content: "";
        display: block;
        width: rem(418);
        height: rem(468);
        position: absolute;
        pointer-events: none;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../assets/images/decor-3.svg");
    }
}

.bg-1 {
    background-repeat: no-repeat;
    background-position: top calc(50% - 50px) right calc(50% + 550px), center;
    background-size: rem(580) rem(580), rem(1660) rem(510);
    background-image: url("../assets/images/decor-ring.svg"), url("../assets/images/decor-ornament-2.svg");
}

.bg-2 {
    background-repeat: no-repeat;
    background-position: top 550px right calc(50% + 700px), top 130px right calc(50% - 1010px), center;
    background-size: rem(765) rem(765), rem(850) rem(600), rem(1660) rem(510);
    background-image: url("../assets/images/decor-part-circle.svg"), url("../assets/images/decor-part-ornament.svg"), url("../assets/images/decor-ornament.svg");
}

.bg-3 {
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-image: url("../assets/images/decor-tree-left.png"), url("../assets/images/decor-tree-right.png");

}