.section {
    overflow: hidden;

    &--header {
        position: relative;
        transition: 0.3s all;
        border-bottom: 1px solid #EDEDED;
    }

    &--bg {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &--drop {
        left: 0;
        right: 0;
        top: 100%;
        max-height: 80vh;
        position: absolute;
        transition: 0.3s opacity;

        &[hidden] {
            max-height: 0vh;
        }
    }

    &__background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    &__overlay {
        top: 100%;
        position: absolute;
    }

    &__content {
        &--overlay-intro {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.2);
        }
        &--overlay-20 {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &--overlay-30 {
            background-color: rgba(0, 0, 0, 0.3);
        }

        &--overlay-40 {
            background-color: rgba(0, 0, 0, 0.4);
        }

        &--full-650 {
            height: 100%;
            min-height: rem(650);

            @include r(1200) {
                min-height: 100vh;
            }
        }

        &--full-950 {
            height: 100vh;
            min-height: rem(950);

            @include r(1200) {
                //height: auto;
                min-height: 100vh;
            }
        }

        &--flex {
            display: flex;
            flex-direction: column;

            .container {
                flex-grow: 1;
            }
        }
    }
}

.invert {
    .section {
        &--header {
            border-color: rgba(237, 237, 237, 0);
        }
    }
}