.video {
    width: 100%;
    display: block;
    height: rem(620);
    overflow: hidden;
    border-radius: rem(5);

    iframe {
        width: 100%;
        height: 100%;
        display: block;
    }
}