// Colors
$white: #FFFFFF;
$orange: #F39314;
$light: #FFFFFF;
$dark: #262626;
$green: #2AA7A4;
$green-light: #CBE5EB;
$purple: #8A5B8F;
$purple-light: #EAE1F5;
$lilac: #EAE1F5;
// Fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Oswald', sans-serif;