<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeaderActive %>
<main class="main">
    <section class="section section--bg relative invert" style="background-image: url('./assets/images/bg-about.jpg')">
        <div class="section__content section__content--overlay section__content--full-650 pt-100 pb-150">
            <div class="container container--flex-between">
                <div class="breadcrumbs">Хлебные крошки</div>
                <div class="columns">
                    <div class="columns__col columns__col--7">
                        <h1 class="title title--main mb-30">
                            О событии
                        </h1>
                        <div class="editor editor--20">
                            <p>
                                Для современного мира начало повседневной работы по формированию позиции влечет за собой
                                процесс внедрения и модернизации распределения внутренних резервов и ресурсов.
                            </p>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </section>
    <section class="section pt-160 pb-100 bg-white">
        <div class="container">
            <div class="columns columns--align">
                <div class="columns__col columns__col--6"></div>
                <div class="columns__col columns__col--6">
                    <div class="editor">
                        <p>
                            Приятно, граждане, наблюдать, как диаграммы связей лишь добавляют фракционных разногласий и
                            объявлены нарушающими общечеловеческие нормы этики и морали.
                        </p>
                        <p>
                            Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство,
                            нанотехнологии призывают нас к новым свершениям, которые, в свою очередь, должны быть
                            объявлены
                            нарушающими общечеловеческие нормы этики и морали. Есть над чем задуматься: представители
                            современных социальных резервов, вне зависимости от их уровня, должны быть разоблачены.
                        </p>
                        <p>
                            Являясь всего лишь частью общей картины, стремящиеся вытеснить традиционное производство,
                            нанотехнологии призывают нас к новым свершениям, которые, в свою очередь, должны быть
                            объявлены
                            нарушающими общечеловеческие нормы этики и морали. Есть над чем задуматься: представители
                            современных социальных резервов, вне зависимости от их уровня, должны быть разоблачены.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-100 pb-100 bg-white">
        <div class="container">
            <span class="tag mb-20">Участвуй</span>
            <div class="toolbar">
                <h2 class="title">
                    Екатеринбург 300
                </h2>
            </div>
        </div>
    </section>
    <section class="section pt-100 pb-100 bg-grey">
        <div class="container">
            <span class="tag mb-20">Смотри</span>
            <h2 class="title mb-90">
                видеоотчет <br>
                с того самого дня
            </h2>
            .video
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.hidden %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>