<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
    <%= htmlWebpackPlugin.options.sectionHeader %>
    <div class="page">
        <main class="main">
            <section class="section bg-white pt-100 pb-100 ptm-80 pbm-40">
                <div class="container">
                    <nav class="breadcrumbs mb-40 mbm-15">
                        <a class="breadcrumbs__link" href="./">
                            Главная
                        </a>
                        <a class="breadcrumbs__link" href="./residents.html">
                            Жителям
                        </a>
                        <span class="breadcrumbs__link">
                            Городское благоустройство
                        </span>
                    </nav>
                    <a class="link-back mb-80 mbm-35" href="./residents.html">
                        <svg class="link-back__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-back"></use>
                        </svg>
                        <span class="link-back__text">
                            Городское благоустройство
                        </span>
                    </a>
                    <time class="date mb-20">
                        21.11.2022
                    </time>
                    <h1 class="title mb-25">
                        Стела «Город трудовой доблести»
                    </h1>
                    <div class="place mb-60 mbm-20">
                        <svg class="place__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-marker"></use>
                        </svg>
                        <div class="place__content">
                            <p>
                                Екатеринбург, ул. Горького, 23
                            </p>
                        </div>
                    </div>
                    <div class="editor mb-80 mbm-30">
                        <p>
                            Указом Президента Российской Федерации от 2 июля 2020 года № 444 «О присвоении почетного звания
                            Российской Федерации «Город трудовой доблести» городу Екатеринбургу присвоено почётное звание
                            Российской Федерации «Город трудовой доблести».
                            Проведен опрос среди жителей и профессионального сообщества о выборе места размещения стелы, которым
                            стало пересечение ул. Царской и ул. Николая Никонова.
                        </p>
                        <picture>
                            <img alt="Заголовок поста" src="./assets/content/post-full.jpg">
                        </picture>
                        <p>
                            По инициативе Общероссийской общественно-государственной организации «Российское военно-историческое
                            общество» и Администрации города Екатеринбурга разработан дизайн-проект стелы «Город трудовой
                            доблести». Высота стелы составит 42 метра. Во внутреннем пространстве планируется создать
                            экспозицию, посвященную памяти тружеников тыла.
                        </p>
                        <p>
                            Кроме того, пространство вокруг стелы будут окаймлять подпорные стенки и озелененные откосы. Боковые
                            грани стелы и подпорные стенки облицованы панелями из кортеновской стали. Панели формируют ломаную
                            треугольную структуру, отражающую напряженную тектонику поверхностей. На панелях подпорных стенок
                            будет выполнена перфорация с изображениями стилизованной военной техники. Со стороны улицы Николая
                            Никонова располагается амфитеатр для проведения торжественных мероприятий, а также на территории
                            предусмотрено создание зон отдыха. В вечернее время предусмотрена подсветка стелы и прилегающей
                            территории.
                        </p>
                    </div>
                    <script src="https://yastatic.net/share2/share.js"></script>
                    <div class="ya-share2 " data-curtain data-services="vkontakte,odnoklassniki,telegram,viber,whatsapp"
                         data-shape="round"></div>
                </div>
            </section>
        </main>
        <%= htmlWebpackPlugin.options.sectionFooter %>
    </div>
    <%= htmlWebpackPlugin.options.hidden %>
    <%= htmlWebpackPlugin.options.temp %>
</body>

</html>