<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeaderActive %>
<main class="main">
    <section class="section section--bg relative invert" style="background-image: url('./assets/images/bg-single-special.jpg')">
        <div class="section__content section__content--overlay section__content--full-650 pt-100 pb-150">
            <div class="container container--flex-between">
                <div class="breadcrumbs">Хлебные крошки</div>
                <div class="columns">
                    <div class="columns__col columns__col--8">
                        <h2 class="title mb-30">
                            Волонтёры 300-летия
                        </h2>
                        <div class="editor editor--24 mb-40">
                            <p>
                                Для современного мира начало повседневной работы по формированию позиции влечет за собой
                                процесс внедрения и модернизации распределения.
                            </p>
                        </div>
                        <a href="" class="button button--orange button--230">
                            <span class="button__text">
                                Стать волонтером
                            </span>
                        </a>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </section>
    <section class="section bg-white pt-100 pb-100">
        <div class="container">
            <span class="tag mb-20">Узнавай</span>
            <h2 class="title mb-75">
                Кто такие <br>
                <strong class="purple">волонтеры 300-летия?</strong>
            </h2>
            <div class="columns columns--align">
                <div class="columns__col columns__col--5">
                    <div class="editor editor--24">
                        <p>
                            Приятно, граждане, наблюдать, как диаграммы связей лишь добавляют фракционных разногласий и
                            объявлены нарушающими общечеловеческие нормы этики и морали. Являясь всего лишь частью общей
                            картины, стремящиеся вытеснить традиционное производство, нанотехнологии призывают нас к
                            новым свершениям, которые, в свою очередь, должны быть объявлены нарушающими
                        </p>
                    </div>
                </div>
                <div class="columns__col columns__col--1 mob-hidden"></div>
                <div class="columns__col columns__col--6">

                </div>
            </div>
        </div>
    </section>
    <section class="section bg-grey pt-120 pb-145">
        <div class="container">
            <div class="columns">
                <div class="columns__col columns__col--6">
                    <span class="tag mb-20">Действуй</span>
                    <h2 class="title">
                        Как стать <strong class="purple">волонтёром?</strong>
                    </h2>
                </div>
                <div class="columns__col columns__col--6">

                </div>
            </div>
        </div>
    </section>
    <section class="section bg-grey pt-100 pb-100">
        <div class="container">
            <span class="tag mb-20">Читай</span>
            <div class="toolbar">
                <h2 class="title mb-50">
                    новости <strong class="green">волонтеров</strong>
                </h2>
            </div>
        </div>
    </section>
    <section class="section invert bg-grey pt-100 pb-100">
        <div class="container">

        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.hidden %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>