.link-menu {
    gap: rem(7);
    display: flex;
    min-height: 50px;
    align-items: center;

    &__icon {
        flex-shrink: 0;
        display: block;
        width: rem(20);
        height: rem(20);
    }
}