.link-back {
    display: flex;
    align-items: center;
    transition: 0.3s opacity;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.9;
    }

    &__icon {
        fill: $dark;
        display: block;
        width: rem(72);
        height: rem(52);
        margin-right: rem(19);

        @include r(1200) {
            width: rem(52);
            height: rem(38);
            margin-right: rem(15);
        }
    }

    &__text {
        color: $dark;
        font-size: rem(20);

        @include r(1200) {
            font-size: rem(16);
        }
    }
}

.invert {
    .link-back {
        &__icon {
            fill: $light;
        }

        &__text {
            color: $light;
        }
    }
}