.tabs {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #D8E7EC;

    &__link {
        color: inherit;
        font-size: rem(20);
        padding: rem(15) 0;
        position: relative;
        font-family: $font-title;
        text-transform: uppercase;

        &.active {
            &:after {
                left: 0;
                right: 0;
                height: 3px;
                width: 100%;
                content: "";
                bottom: -2px;
                display: block;
                position: absolute;
                background-color: $orange;
            }
        }
    }
}