.title {
    font-weight: 500;
    line-height: 1.2;
    font-size: rem(64);
    font-family: $font-title;
    text-transform: uppercase;

    small {
        display: block;
        line-height: 1.4;
        font-size: rem(32);
        margin-bottom: rem(5);
        text-transform: lowercase;
    }
}