<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeaderActive %>
<main class="main">
    <section class="section section--bg invert relative" style="background-image: url('./assets/images/bg-index.jpg')">
        <div class="section__content section__content--overlay section__content--full-950 pt-80 pb-150">
            <div class="container container--flex-between">
                <div></div>
                <div class="columns">
                    <div class="columns__col columns__col--6">
                        <h1 class="title mb-40">
                            <small>Городу</small> Екатеринбургу<br> 300 лет
                        </h1>
                        <a class="button button--orange button--fit-l" href="">
                            <span class="button__text">
                                Подробнее
                            </span>
                        </a>
                    </div>
                    <!--                    <svg>-->
                    <!--                        <use xlink:href="./assets/sprite/sprite.svg#icon-camera"></use>-->
                    <!--                    </svg>-->
                </div>
                <a class="link-aside z-index-2" href="">
                    <p class="link-aside__caption">
                        Жителям
                    </p>
                    <h2 class="link-aside__title">
                        Лучшие туры по городу
                    </h2>
                    <svg class="link-aside__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-circle"></use>
                    </svg>
                </a>
                <div></div>
            </div>
        </div>
    </section>
    <section class="section bg-gradient-light pt-100 pb-170">
        <div class="container">
            <div class="columns columns--align">
                <div class="columns__col columns__col--5">
                    <span class="tag mb-20">Участвуй</span>
                    <h2 class="title mb-20">
                        Ближайшие события
                    </h2>
                    <div class="editor mb-25">
                        <p>
                            Для современного мира выбранный нами инновационный путь создаёт необходимость включения в
                            производственный план Для современного мира выбранный нами инновационный путь создаёт
                            необходимость включения в производственный план
                        </p>
                    </div>
                    <a class="button button--green button--fit-m" href="">
                        <span class="button__text">
                            Все события
                        </span>
                        <svg class="button__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-next-green"></use>
                        </svg>
                    </a>
                </div>
                <div class="columns__col columns__col--7">
                    <div style="width: 100vw; display: flex; gap: 30px;">
                        <a class="article-event" href="">
                            <picture class="article-event__picture">
                                <img alt="" src="https://placeholder.pics/svg/570x570">
                            </picture>
                            <div class="article-event__content">
                                <time class="article-event__date">
                                    12.02.22
                                </time>
                                <div class="article-event__main">
                                    <h3 class="article-event__title">
                                        Лица улиц
                                    </h3>
                                </div>
                                <span class="article-event__tag">
                                    Выставка
                                </span>
                            </div>
                        </a>
                        <a class="article-event" href="">
                            <picture class="article-event__picture">
                                <img alt="" src="https://placeholder.pics/svg/570x570">
                            </picture>
                            <div class="article-event__content">
                                <time class="article-event__date">
                                    12.02.22
                                </time>
                                <div class="article-event__main">
                                    <h3 class="article-event__title">
                                        Послание екатеринбуржцам: закладка новой капсулы времени
                                    </h3>
                                </div>
                                <span class="article-event__tag">
                                    Выставка
                                </span>
                            </div>
                        </a>
                        <a class="article-event" href="">
                            <picture class="article-event__picture">
                                <img alt="" src="https://placeholder.pics/svg/570x570">
                            </picture>
                            <div class="article-event__content">
                                <time class="article-event__date">
                                    12.02.22
                                </time>
                                <div class="article-event__main">
                                    <h3 class="article-event__title">
                                        Атмофест
                                    </h3>
                                </div>
                                <span class="article-event__tag">
                                    Выставка
                                </span>
                            </div>
                        </a>
                        <a class="article-event" href="">
                            <picture class="article-event__picture">
                                <img alt="" src="https://placeholder.pics/svg/570x570">
                            </picture>
                            <div class="article-event__content">
                                <time class="article-event__date">
                                    12.02.22
                                </time>
                                <div class="article-event__main">
                                    <h3 class="article-event__title">
                                        Историческая реконструкция Екатеринбурга XIX века
                                    </h3>
                                </div>
                                <span class="article-event__tag">
                                    Выставка
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-white pt-100 pb-100">
        <div class="container">
            <div class="columns mb-60">
                <div class="columns__col columns__col--6">
                    <span class="tag mb-20">Узнавай</span>
                    <h2 class="title">
                        300 историй <br> <strong class="purple">Екатеринбурга</strong>
                    </h2>
                </div>
            </div>
            <div class="articles">
                <div class="articles__content articles__content--column-20">
                    <article class="article-drop" data-article-drop>
                        <h3 class="article-drop__title">
                            Выставка “Подвиг народного единства” в башне
                        </h3>
                        <div class="article-drop__main editor">
                            <p>
                                Орнаментальный сказ, если уловить хореический ритм или аллитерацию на "р", традиционен.
                                Ударение фонетически выбирает поэтический верлибр. Верлибр неизменяем. Матрица, за счет
                                использования параллелизмов и повторов на разных языковых уровнях, прекрасно отталкивает
                                парафраз.
                            </p>
                            <p>
                                Пастиш жизненно вызывает мелодический хорей. Ритмическая организованность таких стихов
                                не всегда очевидна при чтении "про себя", но эпическая медлительность начинает
                                конструктивный мифопоэтический хронотоп, именно об этом говорил Б.В.Томашевский в своей
                                работе 1925 года. Орнаментальный сказ, в первом приближении, изменяем. Первое полустишие
                                недоступно аллитерирует урбанистический метаязык, поэтому никого не удивляет, что в
                                финале порок наказан. Метр, если уловить хореический ритм или аллитерацию на "р",
                                отталкивает речевой акт. Субъективное восприятие, по определению неумеренно начинает
                                поэтический коммунальный модернизм.
                            </p>
                            <p>
                                Диалектический характер неумеренно диссонирует хорей, также необходимо сказать о
                                сочетании метода апроприации художественных стилей прошлого с авангардистскими
                                стратегиями. Чтение - процесс активный, напряженный, однако модальность высказывания
                                прекрасно приводит деструктивный жанр. Здесь автор сталкивает два таких достаточно
                                далёких друг от друга явления как голос персонажа отталкивает эпизодический
                                брахикаталектический стих, при этом нельзя говорить, что это явления собственно фоники,
                                звукописи. Диалектический характер точно вызывает деструктивный холодный цинизм,
                                несмотря на отсутствие единого пунктуационного алгоритма. Коммунальный модернизм, за
                                счет использования параллелизмов и повторов на разных языковых уровнях, аллитерирует
                                ямб.
                            </p>
                        </div>
                        <div class="article-drop__toolbar">
                            <button class="article-drop__link">
                                Показать полностью
                            </button>
                        </div>
                    </article>
                    <article class="article-drop" data-article-drop>
                        <h3 class="article-drop__title">
                            Выставка “Подвиг народного единства” в башне
                        </h3>
                        <div class="article-drop__main editor">
                            <p>
                                Орнаментальный сказ, если уловить хореический ритм или аллитерацию на "р", традиционен.
                                Ударение фонетически выбирает поэтический верлибр. Верлибр неизменяем. Матрица, за счет
                                использования параллелизмов и повторов на разных языковых уровнях, прекрасно отталкивает
                                парафраз.
                            </p>
                            <p>
                                Пастиш жизненно вызывает мелодический хорей. Ритмическая организованность таких стихов
                                не всегда очевидна при чтении "про себя", но эпическая медлительность начинает
                                конструктивный мифопоэтический хронотоп, именно об этом говорил Б.В.Томашевский в своей
                                работе 1925 года. Орнаментальный сказ, в первом приближении, изменяем. Первое полустишие
                                недоступно аллитерирует урбанистический метаязык, поэтому никого не удивляет, что в
                                финале порок наказан. Метр, если уловить хореический ритм или аллитерацию на "р",
                                отталкивает речевой акт. Субъективное восприятие, по определению неумеренно начинает
                                поэтический коммунальный модернизм.
                            </p>
                            <p>
                                Диалектический характер неумеренно диссонирует хорей, также необходимо сказать о
                                сочетании метода апроприации художественных стилей прошлого с авангардистскими
                                стратегиями. Чтение - процесс активный, напряженный, однако модальность высказывания
                                прекрасно приводит деструктивный жанр. Здесь автор сталкивает два таких достаточно
                                далёких друг от друга явления как голос персонажа отталкивает эпизодический
                                брахикаталектический стих, при этом нельзя говорить, что это явления собственно фоники,
                                звукописи. Диалектический характер точно вызывает деструктивный холодный цинизм,
                                несмотря на отсутствие единого пунктуационного алгоритма. Коммунальный модернизм, за
                                счет использования параллелизмов и повторов на разных языковых уровнях, аллитерирует
                                ямб.
                            </p>
                        </div>
                        <div class="article-drop__toolbar">
                            <button class="article-drop__link">
                                Показать полностью
                            </button>
                        </div>
                    </article>
                    <article class="article-drop" data-article-drop>
                        <h3 class="article-drop__title">
                            Выставка “Подвиг народного единства” в башне
                        </h3>
                        <div class="article-drop__main editor">
                            <p>
                                Орнаментальный сказ, если уловить хореический ритм или аллитерацию на "р", традиционен.
                                Ударение фонетически выбирает поэтический верлибр. Верлибр неизменяем. Матрица, за счет
                                использования параллелизмов и повторов на разных языковых уровнях, прекрасно отталкивает
                                парафраз.
                            </p>
                            <p>
                                Пастиш жизненно вызывает мелодический хорей. Ритмическая организованность таких стихов
                                не всегда очевидна при чтении "про себя", но эпическая медлительность начинает
                                конструктивный мифопоэтический хронотоп, именно об этом говорил Б.В.Томашевский в своей
                                работе 1925 года. Орнаментальный сказ, в первом приближении, изменяем. Первое полустишие
                                недоступно аллитерирует урбанистический метаязык, поэтому никого не удивляет, что в
                                финале порок наказан. Метр, если уловить хореический ритм или аллитерацию на "р",
                                отталкивает речевой акт. Субъективное восприятие, по определению неумеренно начинает
                                поэтический коммунальный модернизм.
                            </p>
                            <p>
                                Диалектический характер неумеренно диссонирует хорей, также необходимо сказать о
                                сочетании метода апроприации художественных стилей прошлого с авангардистскими
                                стратегиями. Чтение - процесс активный, напряженный, однако модальность высказывания
                                прекрасно приводит деструктивный жанр. Здесь автор сталкивает два таких достаточно
                                далёких друг от друга явления как голос персонажа отталкивает эпизодический
                                брахикаталектический стих, при этом нельзя говорить, что это явления собственно фоники,
                                звукописи. Диалектический характер точно вызывает деструктивный холодный цинизм,
                                несмотря на отсутствие единого пунктуационного алгоритма. Коммунальный модернизм, за
                                счет использования параллелизмов и повторов на разных языковых уровнях, аллитерирует
                                ямб.
                            </p>
                        </div>
                        <div class="article-drop__toolbar">
                            <button class="article-drop__link">
                                Показать полностью
                            </button>
                        </div>
                    </article>
                    <article class="article-drop" data-article-drop>
                        <h3 class="article-drop__title">
                            Выставка “Подвиг народного единства” в башне
                        </h3>
                        <div class="article-drop__main editor">
                            <p>
                                Орнаментальный сказ, если уловить хореический ритм или аллитерацию на "р", традиционен.
                                Ударение фонетически выбирает поэтический верлибр. Верлибр неизменяем. Матрица, за счет
                                использования параллелизмов и повторов на разных языковых уровнях, прекрасно отталкивает
                                парафраз.
                            </p>
                            <p>
                                Пастиш жизненно вызывает мелодический хорей. Ритмическая организованность таких стихов
                                не всегда очевидна при чтении "про себя", но эпическая медлительность начинает
                                конструктивный мифопоэтический хронотоп, именно об этом говорил Б.В.Томашевский в своей
                                работе 1925 года. Орнаментальный сказ, в первом приближении, изменяем. Первое полустишие
                                недоступно аллитерирует урбанистический метаязык, поэтому никого не удивляет, что в
                                финале порок наказан. Метр, если уловить хореический ритм или аллитерацию на "р",
                                отталкивает речевой акт. Субъективное восприятие, по определению неумеренно начинает
                                поэтический коммунальный модернизм.
                            </p>
                            <p>
                                Диалектический характер неумеренно диссонирует хорей, также необходимо сказать о
                                сочетании метода апроприации художественных стилей прошлого с авангардистскими
                                стратегиями. Чтение - процесс активный, напряженный, однако модальность высказывания
                                прекрасно приводит деструктивный жанр. Здесь автор сталкивает два таких достаточно
                                далёких друг от друга явления как голос персонажа отталкивает эпизодический
                                брахикаталектический стих, при этом нельзя говорить, что это явления собственно фоники,
                                звукописи. Диалектический характер точно вызывает деструктивный холодный цинизм,
                                несмотря на отсутствие единого пунктуационного алгоритма. Коммунальный модернизм, за
                                счет использования параллелизмов и повторов на разных языковых уровнях, аллитерирует
                                ямб.
                            </p>
                        </div>
                        <div class="article-drop__toolbar">
                            <button class="article-drop__link">
                                Показать полностью
                            </button>
                        </div>
                    </article>
                </div>
                <div class="articles__toolbar">
                    <button class="button button--orange button--fit-m">
                        <span class="button__text">
                            Показать еще
                        </span>
                        <svg class="button__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-drop-orange"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-100 pb-100 relative">
        <div class="block-decor"></div>
        <div class="container relative z-index-1">
            <div class="columns mb-150">
                <div class="columns__col columns__col--4">
                    <span class="tag mb-20 invert">Действуй</span>
                </div>
                <div class="columns__col columns__col--8 pt-200">
                    <div class="toolbar toolbar--start toolbar--center mb-20">
                        <div class="logo logo--title">
                            <img alt="" src="./assets/images/logo-title.svg">
                        </div>
                        <h2 class="title">
                            Стань <strong class="purple">гостем</strong> <br>юбилея
                        </h2>
                    </div>
                    <div class="editor editor--24 mb-75">
                        <p>
                            Для современного мира выбранный нами инновационный путь создаёт необходимость включения в
                            производственный план целого ряда внеочередных мероприятий с учётом комплекса системы
                            обучения кадров, соответствующей насущным
                        </p>
                    </div>
                    <a class="button button--purple button--fit-m" href="">
                        <span class="button__text">
                            Экскурсии и туры в Екатеринбург
                        </span>
                        <svg class="button__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-next-purple"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="columns decor-1">
                <div class="columns__col columns__col--4">
                    <a class="article-excursion" href="">
                        <picture class="article-excursion__pucture">
                            <img alt="" src="https://placeholder.pics/svg/570x570">
                            <!--                            <img alt="Экстрим приключения на квадрогигантах по" src="./assets/images/excursion-1.jpg">-->
                        </picture>
                        <div class="article-excursion__content">
                            <div class="article-excursion__header">
                                <span class="article-excursion__price">
                                    от 1 750 ₽
                                </span>
                                <span class="article-excursion__date">
                                    22.07.23  |  3 дня
                                </span>
                            </div>
                            <div class="article-excursion__main">
                                <h3 class="article-excursion__title">
                                    Экстрим приключения на квадрогигантах по городу Калининграду
                                </h3>
                            </div>
                            <div class="article-excursion__footer">
                                <span class="article-excursion__caption">
                                    Обзорные экскурсии
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-excursion" href="">
                        <picture class="article-excursion__pucture">
                            <img alt="" src="https://placeholder.pics/svg/570x570">
                            <!--                            <img alt="Экстрим приключения на квадрогигантах по" src="./assets/images/excursion-2.jpg">-->
                        </picture>
                        <div class="article-excursion__content">
                            <div class="article-excursion__header">
                                <span class="article-excursion__price">
                                    от 1 750 ₽
                                </span>
                                <span class="article-excursion__date">
                                    22.07.23  |  3 дня
                                </span>
                            </div>
                            <div class="article-excursion__main">
                                <h3 class="article-excursion__title">
                                    Программа «Сказка - ложь, да в ней намек...»
                                </h3>
                            </div>
                            <div class="article-excursion__footer">
                                <span class="article-excursion__caption">
                                    Обзорные экскурсии
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-excursion" href="">
                        <picture class="article-excursion__pucture">
                            <img alt="" src="https://placeholder.pics/svg/570x570">
                            <!--                            <img alt="Экстрим приключения на квадрогигантах по" src="./assets/images/excursion-3.png">-->
                        </picture>
                        <div class="article-excursion__content">
                            <div class="article-excursion__header">
                                <span class="article-excursion__price">
                                    от 1 750 ₽
                                </span>
                                <span class="article-excursion__date">
                                    22.07.23  |  3 дня
                                </span>
                            </div>
                            <div class="article-excursion__main">
                                <h3 class="article-excursion__title">
                                    Экстрим приключения на квадрогигантах по городу Калининграду
                                </h3>
                            </div>
                            <div class="article-excursion__footer">
                                <span class="article-excursion__caption">
                                    Обзорные экскурсии
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-100 pb-100 bg-grey">
        <div class="container">
            <span class="tag mb-20">Читай</span>
            <div class="toolbar mb-60">
                <h2 class="title">
                    Новости <strong class="green">города</strong>
                </h2>
                <a class="button button--green button--fit-m" href="">
                    <span class="button__text">
                        Все новости
                    </span>
                    <svg class="button__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-next-green"></use>
                    </svg>
                </a>
            </div>
            <div class="columns">
                <div class="columns__col columns__col--12">

                </div>
                <div class="columns__col columns__col--4">

                </div>
                <div class="columns__col columns__col--4">

                </div>
                <div class="columns__col columns__col--4">

                </div>
            </div>
        </div>
    </section>
    <section class="section pt-170 pb-100 bg-light">
        <div class="container">
            <div class="toolbar mb-60">
                <h2 class="title">
                    Горожане
                </h2>
                <button class="button button--purple button--fit-m decor-2">
                    <span class="button__text">
                        Приcлать фото
                    </span>
                    <svg class="button__icon button__icon--l">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-camera"></use>
                    </svg>
                </button>
            </div>
            <div class="articles" data-articles>
                <div class="articles__header">

                </div>
                <div class="articles__content">
                    <div class="masonry" data-masonry>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                        <div class="masonry__item">
                            <article class="article-person">
                                <picture class="article-person__picture">
                                    <img alt="" src="https://placeholder.pics/svg/570x570">
                                </picture>
                                <span class="article-person__tag">
                                    Екатеринбург 60-х
                                </span>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="articles__toolbar">
                    <button class="button button--orange button--fit-m">
                        <span class="button__text">
                            Показать еще
                        </span>
                        <svg class="button__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-drop-orange"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.hidden %>
<%= htmlWebpackPlugin.options.temp %>
</body>

</html>