<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
    <%= htmlWebpackPlugin.options.sectionHeader %>
    <main class="main">
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="columns__col columns__col--6">
                        <h1>Dranik</h1>
                        <div class="editor">
                            <h1>
                                Dranik
                            </h1>
                            <p>
                                Стартовый шаблон для разработки
                            </p>
                        </div>
                    </div>
                    <div class="columns__col columns__col--6">
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-camera"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.sectionFooter %>
    <%= htmlWebpackPlugin.options.temp %>
</body>

</html>