.article-card {
    height: 100%;
    display: flex;
    overflow: hidden;
    border-radius: rem(5);
    flex-direction: column;
    background-color: $light;
    box-shadow: rem(-10) rem(20) rem(50) rgba(143, 154, 181, 0.2);

    @include r(1200) {

    }

    &__picture {
        flex-shrink: 0;
        display: block;
        height: rem(370);

        @include r(1200) {
            height: rem(240);
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: rem(20) rem(35) rem(35) rem(35);

        @include r(1200) {
            padding: rem(15) rem(20) rem(20) rem(20);
        }
    }

    &__time {
        color: #B3B5C3;
        display: block;
        font-weight: 500;
        font-size: rem(14);
        margin-bottom: rem(15);

        @include r(1200) {
            margin-bottom: rem(10);
        }
    }

    &__title {
        flex-grow: 1;
        font-size: rem(24);
        margin-bottom: rem(30);
        font-family: $font-title;

        @include r(1200) {
            font-size: rem(16);
            margin-bottom: rem(20);
        }
    }

    &__tag {
        color: $orange;
        font-family: $font-title;
        text-transform: uppercase;

        @include r(1200) {
            font-size: rem(14);
        }
    }
}