.articles {
    &__header {
        margin-bottom: rem(50);

        @include r(1200) {
            margin-bottom: rem(30);;
        }
    }

    &__content {
        gap: rem(20);
        display: flex;
        flex-direction: column;
    }

    &__toolbar {
        display: flex;
        margin-top: rem(30);
        justify-content: center;
    }
}